Enron dataset. Email network. Consider all emails in the "To" field.

Data: https://www.kaggle.com/wcukierski/enron-email-dataset

In [1]:
PATH = "/mnt/data/Downloads/"

In [2]:
import numpy as np
import pandas as pd
import re

In [3]:
pd.options.mode.chained_assignment = None

# chunk = pd.read_csv(PATH + 'emails.csv', chunksize=5000)
# data = next(chunk)

# data.info()
# print(data.message[44])

data = pd.read_csv(PATH + 'emails.csv')

In [4]:
links = pd.DataFrame(columns=['Date', 'From', 'To'])

In [5]:
fromRegex = re.compile(r'From:\s(\w)+(\.)?(\w)*@(\w)+.com')
toRegex = re.compile(r'To:\s(\w)+(\.)?(\w)*@(\w)+.com(.*?)\n')
dateRegex = re.compile(r'Date:\s(.*?)\n')
links_index = 0
for i in range(len(data)):
    mf = fromRegex.search(data['message'][i])
    me = toRegex.search(data['message'][i])
    date = dateRegex.search(data['message'][i])
    if mf and me:
        date = date.group().replace('Date: ', '').replace('\n','')
        m_from = mf.group().replace('From: ', '')
        m_to = me.group().replace('To: ', '').replace('\n', '')
        if ',' in m_to:
            addresses = m_to.split(', ')
            for address in addresses:
                if address != '':
                    links.loc[links_index] = [date, m_from, address]
                    links_index += 1
        else: 
            links.loc[links_index] = [date, m_from, m_to]
            links_index += 1

In [6]:
links.Date = pd.to_datetime(links.Date)

In [7]:
links.shape

(614586, 3)

In [8]:
links.to_csv("email-links-all.csv")

In [9]:
from datetime import datetime
str(datetime.now())

'2018-07-17 18:49:42.715259'

In [10]:
links.head()

                 Date                     From                       To
0 2001-05-14 23:39:00  phillip.allen@enron.com     tim.belden@enron.com
1 2001-05-04 20:51:00  phillip.allen@enron.com  john.lavorato@enron.com
2 2000-10-18 10:00:00  phillip.allen@enron.com   leah.arsdall@enron.com
3 2000-10-23 13:13:00  phillip.allen@enron.com    randall.gay@enron.com
4 2000-08-31 12:07:00  phillip.allen@enron.com     greg.piper@enron.com